*{
    /* margin: 0;  */
    /* padding: 200px; */
}

.form{
    width: 200px;
    height: 200px;
    background: red;
}

.hide{
    display: none;
}

#btn {
    width: 200px;
    height: 200px;
    background: #ff0;
    text-align: center;
    line-height: 200px;
    margin: 100px auto;
}

.box1 {
    width: 200px;
    height: 200px;
    background: red;
}
.box2 {
    width: 200px;
    height: 200px;
    background:darkgray;
}
.box3 {
    width: 200px;
    height: 200px;
    background:aqua;
}

.zhen {
    width: 100px;
    height: 100px;
    background:chocolate;
}
.ju {
    width: 150px;
    height: 100px;
    background: black;
}
.yuan {
    width: 100px;
    height: 100px;
    background: #ff0;
    border-radius: 50px;
}
.tuo {
    width:200px;
    height:100px;
    background:blueviolet;
    border-radius:100px / 50px;
}