.zhen {
    width: 100px;
    height: 100px;
    background:chocolate;
}
.ju {
    width: 150px;
    height: 100px;
    background: black;
}
.yuan {
    width: 100px;
    height: 100px;
    background: #ff0;
    border-radius: 50px;
}
.tuo {
    width:200px;
    height:100px;
    background:blueviolet;
    border-radius:100px / 50px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    /* 禁止页面行为 */
    /* touch-action: none; */
}

#container {
    width: 100%;
    height: 100%;
}
/* 定义公共样式 */
.common_img {
    height: auto;
    width: 25px;
    position: absolute;
    top: 92%;
    left: 50%;
    margin-left: -12px;
}
.hide{
    display: none;
}
.page-current{
    z-index: 2;
}

/* 定义页面的背景色 */
.page { 
    width: 100%;
    height: 100%;
    position: absolute;
}
/* 定义背景颜色 */
.page-1-1 {
    background: #083846;
}
.page-2-1{
    background: #9261BF;
}
.page-2-2{
    background:  #9261BF;
}
/* 定义元素位置 */
.page-1-1 .img_1 {
    height: auto;
    width: 248px;
    position: absolute;
    top:1%;
    left: 50%;
    margin-left: -124px;
}
.page-1-1 .img_2 {
    height: auto;
    width: 185px;
    position: absolute;
    top:62%;
    left: 50%;
    margin-left: -92px;
}
.page-1-1 .img_3 {
    
}
.page-2-1 .img_1{
    height: auto;
    width: 158px;
    position:absolute;
    top:2%;
    left: 50%;
    margin-left: -79px;
    z-index: 2;
}
.page-2-1 .img_2{
    height: auto;
    width: 240px;
    position:absolute;
    top:60%;
    left: 50%;
    margin-left: -120px;
}
.page-2-1 .img_3{
    height: auto;
    width: 241px;
    position:absolute;
    top:36%;
    left: 50%;
    margin-left: -120px;
}
.page-2-1 .img_4{
    height: auto;
    width: 20px;
    position:absolute;
    top:87%;
    left: 50%;
    margin-left: -10px;
}
.page-2-1 .img_5{
    height: auto;
    width: 142px;
    position:absolute;
    top:82%;
    left: 50%;
    margin-left: -71px;
}
.page-2-1 .img_7{
    height: auto;
    width: 248px;
    position: absolute;
    top: 3%;
    left: 50%;
    margin-left: -124px;
}
.page-2-2 .img_1{
    height: auto;
    width: 293px;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -146px;
}
/* .page-2-2 .img_2{
    height: auto;
    width: 260px;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-left: -130px;
} */
.page-2-2 .img_3{
    height: auto;
    width: 248px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -124px;
}
.page-2-2 .img_6{
    height: auto;
    width: 25px;
    position:absolute;
    top:92%;
    left: 50%;
    margin-left: -12px;
}